{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
		<main>
			<div class="container wrapper-25">
				<div class="jumbotron mt-5 mb-5">
					<h1 class="text-center title">Assistances List</h1>
					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="row justify-content-center">
								<div class="col-md-6">
									<a href="/users/courses" class="btn btn-success btn-block text-btn hover-img">Back</a>
								</div>
								<div class="col-md-6">
									<a href="/users/create-assistance/{{IdCourse}}/" class="btn btn-primary btn-block text-btn hover-img">
										Check Out Today
									</a>
								</div>
							</div>
						</div><!-- /end col -->
					</div><!-- /end body -->
					<div class="row justify-content-center">
						<div class="col-md-12">
							<table style="background-color: #fff;" class="table table-bordered table-hover mt-3">
								<thead style="background-color: #000; color: #fff;">
									<tr class="text-center">
										
										<td>Date</td>
										<td>Options</td>
										
									</tr>
								</thead>
								<tbody>
									{% if assistances %}
									{% for assistance in assistances %}
										<tr class="text-center">
											<td>{{assistance.Date}}</td>
											<td>
												<a href="/users/assistences-students/{{assistance.IdAssistance}}/">
												<button class="btn btn-warning hover-img" type="">
													Students
												</button></a>
											</td>							
										</tr>
									{% endfor %}
									{% endif%}
								</tbody>
							</table>
						</div><!-- /end col -->
					</div>
				</div><!-- /end row -->
			</div><!-- /end jumbotron -->
		</main><!-- /end main -->


		<section class="mision">
			<div class="container texto-blanco ">
				<section class="Jumbotron">
					<h2 class="texto-blanco"></h2>
				</section>

				<p></p>

				<section class="row justify-content-center">

				<p></p>

				
				</section>
			</div>
		</section>
{% endblock%}
