{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<main>
			<div class="container wrapper-25">
				<div class="jumbotron border-15">
					<h1 class="text-center title">Students List</h1>
					<div class="row justify-content-center">
						<div class="col-md-12">
							<form method="POST" action="">
				            {% csrf_token %}
				            {{ form.as_p }}
								<table style="background-color: #fff;" class="table table-bordered table-hover mt-3">
									<thead style="background-color: #000; color: #fff;">
										<tr class="text-center">
											<td>Name</td>
											<td>Email</td>
											<td>DPI</td>
											<td>Phone</td>
											<td>Assistance</td>
											
										</tr>
									</thead>
									<tbody>
										{% if assistenceLists %}
										{% for assistenceList in assistenceLists %}
											<tr class="text-center">
												<td>{{assistenceList.FKLicence.Name1}} {{assistenceList.FKLicence.LastName1}}</td>
												<td>{{assistenceList.FKLicence.Email}}</td>
												<td>{{assistenceList.FKLicence.DPI}}</td>
												<td>{{assistenceList.FKLicence.Phone}}</td>
												<td>
													{% if assistenceList.Estate == True %}
				                     					<input type="checkbox" value='{{assistenceList.IdAssistanceList}}' 
				                     					name='for_action' id='for_action' checked="">	
				                     				{% else %}
				                     					<input type="checkbox" value='{{assistenceList.IdAssistanceList}}' 
				                     					name='for_action' id='for_action'>	
				                     				{%endif%}
												
												</td>							
											</tr>
										{% endfor %}
										{% endif%}
									</tbody>
								</table>
								<div class="row justify-content-center">
									<div class="col-md-5">
										
									</div>
									<div class="col-md-2">
										<input type="submit" value="Save" class="btn btn-primary badge-pill mb-4 text-btn hover-img">
									</div>
									<div class="col-md-5">
										
									</div>
								</div>
							</form>
						</div><!-- /end col -->
					</div>
				</div><!-- /end row -->
			</div><!-- /end jumbotron -->
		</main><!-- /end main -->

<section class="mision">
		<div class="container texto-blanco ">
			<section class="Jumbotron">
				<h2 class="texto-blanco"></h2>
			</section>

			<p></p>

			<section class="row justify-content-center">

				<a href="/users/refresh-list/{{IdAssistance}}/">

				</a>
						
			<p> </p>
			</section>
			<p></p>
			<section>
			
			</section>
		</div>
	</section>
{% endblock%}
