{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
		<main>
			<div class="container wrapper-25">
				<div class="jumbotron mt-5 mb-5">
					<h1 class="text-center title">Courses List</h1>
					<div class="row justify-content-center">
						<div class="col-md-2">
							{% if user.FKLicenceType.LicenceType == 9%}
								<a href="/users/create-course">
									<button class="btn btn-primary text-btn hover-img" type="">
										Create New
									</button>
								</a>
							{% elif user.FKLicenceType.LicenceType == 8 %}
								<a href="/users/assign-course">
									<button class="btn btn-success text-btn hover-img" type="">
										Assign Course
									</button>
								</a>
							{% endif %}
						</div><!-- /end col -->
					</div><!-- /end body -->
					<div class="row justify-content-center">
						<div class="col-md-12">
							<table style="background-color: #fff;" class="table table-bordered table-hover mt-3">
								<thead style="background-color: #000; color: #fff;">
									<tr class="text-center">
										<td>Name</td>
										<td>Description</td>
										<td>Teacher</td>
										<td>Options</td>
									</tr>
								</thead>
								<tbody>
									{% if user.FKLicenceType.LicenceType == 8%}
										{% if assigns%}
										{% for assign in assigns %}
											<tr class="text-center">
												<td>{{assign.FKIdCourse.NameCourse}}</td>
												<td>{{assign.FKIdCourse.Description}}</td>
												<td>{{assign.FKIdCourse.Teacher.Name1}} {{assign.FKIdCourse.Teacher.LastName1}}</td>
												<td>
													<a href="/users/delete-assign/{{assign.IdListStudents}}/"> 
													<button class="btn btn-danger hover-img" type="">
														<i style="width: 20px; height: 20px;" class="fas fa-times"></i>
													</button></a>							
													
												</td>
											</tr>
										{% endfor %}
										{% endif%}

									{% elif user.FKLicenceType.LicenceType == 9%}

										{% if courses%}
										{% for course in courses %}
											<tr class="text-center">
												<td>{{course.NameCourse}}</td>
												<td>{{course.Description}}</td>
												<td>{{course.Teacher.Name1}} {{course.Teacher.LastName1}}</td>
												<td>
														<a href="/users/update-course/{{course.IdCourse}}/"> 
														<button class="btn btn-secondary hover-img" type="">
															<i style="width: 20px; height: 20px;" class="fas fa-edit"></i>
														</button></a>
														<a href="/users/delete-course/{{course.IdCourse}}/"> 
														<button class="btn btn-danger hover-img" type="">
															<i style="width: 20px; height: 20px;" class="fas fa-times"></i>
														</button></a>
													
												</td>
											</tr>
										{% endfor %}
										{% endif%}
									{% elif user.FKLicenceType.LicenceType == 7%}
										{% if courses%}
										{% for course in courses %}
											<tr class="text-center">
												<td>{{course.NameCourse}}</td>
												<td>{{course.Description}}</td>
												<td>{{course.Teacher.Name1}} {{course.Teacher.LastName1}}</td>
												<td>
														<a href="/users/assistance-course/{{course.IdCourse}}/"> 
														<button class="btn btn-info hover-img" type="">
															<i style="width: 20px; height: 20px;" class="fas fa-user-check"></i>
														</button>
														</a>									
												</td>
											</tr>
										{% endfor %}
										{% endif%}
									{% endif %}
								</tbody>
							</table>
						</div><!-- /end col -->
					</div>
				</div><!-- /end row -->
			</div><!-- /end jumbotron -->
		</main><!-- /end main -->

{% endblock%}
