{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
		<main>
			<div class="container wrapper-25">
				<div class="jumbotron mt-5 mb-5">
					<h1 class="text-center title">Create User</h1>
					<div class="row justify-content-md-center">
						<div class="col-md-6">
							<form class="container-form" method="post" enctype="multipart/form-data">
								<h1 class="text-center pb-5 subtitle"></h1>
								{% csrf_token %}
								{{ form }}
	
								<div class="row align-items-center">
									<div class="col-md-6">
										<a href="/users/users" class="btn btn-success btn-block badge-pill mb-4 text-btn">Back</a>
									</div>
									<div class="col-md-6">
										<button class="btn btn-primary badge-pill mb-4 text-btn" type="submit">Create</button>
									</div>
								</div>
							</form><!-- /end form -->
						</div><!-- /end col -->
					</div><!-- /end body -->
				</div><!-- /end row -->
			</div><!-- /end jumbotron -->
		</main><!-- /end main -->

{% endblock%}