{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
	<main>
			<div class="container wrapper-25">
				<div class="jumbotron border-15">
					<h1 class="text-center title">Assistance Control System</h1>
					<div class="row">
						<div class="col-md-4 d-none d-md-flex align-items-center">
							<img class="bg-img hover-img" style="height: 250px; width: 250px; border-radius: 50%;" src="{% static 'images/icons/logo.jpg' %}" alt="IMG"/>
						</div><!-- /end col -->
						<div class="col-md-8">
							<p class="text-justify container-form">
								Sed at quam euismod, imperdiet dolor ut, pharetra orci. Nullam metus ex, porta id euismod non, auctor sit amet leo. Mauris venenatis ultrices nunc, sed condimentum tellus congue ac. In hac habitasse platea dictumst. Aliquam porttitor nunc at risus vulputate rutrum. Proin tincidunt lacus dolor, vel gravida quam porttitor accumsan. Proin in mi a felis sagittis malesuada.
							</p>
						</div><!-- /end col -->
					</div><!-- /end body -->
				</div><!-- /end row -->
			</div><!-- /end jumbotron -->
		</main><!-- /end main -->
	
{% endblock%}